.footer__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: var(--cinza-footer);
    padding: 96px 0;
}

.footer-titulo {
    font-size: 36px;
    font-weight: 600;
    color: var(--preto-h1);
    margin-bottom: 20px;
}

.footer-texto-1 {
    font-size: 20px;
    font-weight: 400;
    color: var(--cinza-navegacao);
    margin-bottom: 40px;
}

.footer__input-email {
    width: 360px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--cinza-borda);
    margin-right: 16px;
    padding-left: 12px;
}

.footer__input-email::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-navegacao);
}

.footer__input-button {
    font-size: 16px;
    font-weight: 500;
    color: var(--branco);
    height: 48px;
    width: 116px;
    border: none;
    border-radius: 8px;
    background: var(--vinho-texto);
}

.input_div {
    margin-bottom: 32px;
}

.copyright {
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-copyright);
}

@media screen and (max-width: 400px) {
    .footer__container {
        justify-content: center;
        width: 100vw;
        padding: 32px 0 0 0;
        margin: 0;
    }
    .footer-titulo {
        font-size: 20px;
        padding: 0;
    }
    .footer-texto-1 {
        font-size: 16px;
        padding: 0 32px;
        margin-bottom: 20px;
    }
    .footer__input-email {
        width: auto;
    }
    .input_div {
        margin: 0;
    }
    .copyright {
        padding: 16px 0;
        font-size: 12px;
    }
}