@import url("header.css");
@import url("banner.css");

:root {
    --branco: #FFFFFF;
    --cinza-optimustech: #3A404E;
    --cinza-navegacao: #667085;
    --preto-h1: #101828;
    --vinho-botao: #8E2424;
    --font-padrao: 'Inter';
}

body {
    font-family: var(--font-padrao);
}